html, body {
  margin: 0;
  padding: 10px;
  border: 0;
  height: 100%; /* Ensure the body takes up full height */
  overflow: hidden; /* Prevent scrolling */
}

canvas {
  display: block; /* Removes inline spacing */
  width: 100vw; /* Set canvas width to viewport width */
  height: 100vh; /* Set canvas height to viewport height */
}
